<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Walt Disney Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/disney.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="header :: header"></div>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <div th:replace="sidebar :: sidebar"></div>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <!-- ======= Page Title =======  -->
    <div class="pagetitle">
      <h1> Walt Disney World</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Home</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Magic Kingdom Park Card -->


            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
              <a>
                <div class="card info-card customers-card" data-parkname="Magic Kingdom" style="cursor: pointer;background-image: url('/img/magicKingdomPark.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">
                  <div class="card-body">
                    <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">Magic Kingdom</h5>
                  </div>
                </div>
              </a>
            </div><!-- End Customers Card -->

            <!-- Epcot Card -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">

              <div class="card info-card customers-card" data-parkname="Epcot" style="cursor: pointer;background-image: url('/img/epcot.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">

                <div class="card-body">
                  <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">EPCOT</h5>
                </div>
              </div>

            </div>
            <!-- End Customers Card -->

            <!-- Disney's Hollywood Studios Park Card -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">

              <div class="card info-card customers-card" data-parkname="Hollywood Studios" style="cursor: pointer;background-image: url('/img/hollywood.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">

                <div class="card-body">
                  <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">Hollywood Studios</h5>
                </div>
              </div>

            </div>
            <!-- End Customers Card -->

            <!-- Disney's Animal Kingdom Theme Park -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">

              <div class="card info-card customers-card" data-parkname="Animal Kingdom" style="cursor: pointer;background-image: url('/img/animalKingdom.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">

                <div class="card-body">
                  <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">Animal Kingdom</h5>
                </div>
              </div>

            </div>
            <!-- End Customers Card -->

            <!-- Disney Springs Card -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">

              <div class="card info-card customers-card" data-parkname="Disney Springs" style="cursor: pointer;background-image: url('/img/springs.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">

                <div class="card-body">
                  <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">Disney Springs</h5>
                </div>
              </div>

            </div>
            <!-- End Customers Card -->

            <!-- Disney's Typhoon Lagoon Water Park  Card -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">

              <div class="card info-card customers-card" data-parkname="Typhoon Lagoon" style="cursor: pointer;background-image: url('/img/lagoon.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">

                <div class="card-body">
                  <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">Typhoon Lagoon</h5>
                </div>
              </div>

            </div>
            <!-- End Customers Card -->

            <!-- Disney's Blizzard Beach Water Park Card -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">

              <div class="card info-card customers-card" data-parkname="Blizzard Beach" style="cursor: pointer;background-image: url('/img/blizzard.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">

                <div class="card-body">
                  <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">Blizzard Beach</h5>
                </div>
              </div>

            </div>
            <!-- End Customers Card -->

            <!-- Parque Estacionamento 1 Card -->
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'PARKING'}">

              <a>
                <div class="card info-card customers-card" data-parkinglotname="ParkingLot1"  style="cursor: pointer; background-image: url('/img/parque1.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">
                  <div class="card-body">
                    <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">ParkingLot1</h5>
                  </div>
                </div>
              </a>
            </div>
            <!-- End Customers Card -->

            <!-- Parque Estacionamento 2 Card --> 
            <div class="col-xxl-4 col-xl-12" th:if="${role eq 'ADMIN' or role eq 'PARKING'}">
              <a>
                <div class="card info-card customers-card" data-parkinglotName="ParkingLot2" style="cursor: pointer; background-image: url('/img/parque2.jpg'); background-size: cover; background-position: center; width:315px;height:155px;">
                  <div class="card-body">
                    <h5 class="card-title" style="color: white; font-size: 20px; font-weight: bold; text-shadow: 2px 2px #8a898f;">ParkingLot2</h5>
                  </div>
                </div>
              </a>
            </div>
            <!-- End Customers Card -->
            
            <!-- Line Chart -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Visitor Flow <span>| Today</span></h5>

                  <div id="lineChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#lineChart"), {
                        series: [{
                          name: "Desktops",
                          data: [10, 41, 35, 51, 49, 62, 69, 91, 148, 120, 80]
                        }],
                        chart: {
                          height: 350,
                          type: 'line',
                          zoom: {
                            enabled: false
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'straight'
                        },
                        grid: {
                          row: {
                            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                          },
                        },
                        xaxis: {
                          categories: ['8h', '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h'],
                        }
                      }).render();
                    });
                  </script>

                </div>
              </div>
            </div>
            <!-- End Line Chart -->

          </div>
        </div>
        <!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Customers Card -->
          <div class="card info-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>


            <div class="card-body">
              <h5 class="card-title">Visitors<span> | Now</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6 id="visitors">-</h6>
                  <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                </div>
              </div>

            </div>


            <div class="card-body">
              <h5 class="card-title">Visitors Expected<span> | Today</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>1 244 000</h6>
                  <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                </div>
              </div>

            </div>
          </div>
          <!-- End Customers Card -->

          <!-- Recent Activity -->
          <!--  <div th:text="${visitors}"> </div> -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Recent Activity <span>| Park and Descripton</span></h5>

              <div class="activity">

                <th:block th:each="history : ${maintenanceHistory}">
                  <div class="activity-item d-flex">
                    <div class="activite-label" th:text="${history.date}"></div>
                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                    <div class="activity-content" th:text="|${history.park} - ${history.description}|"></div>
                  </div><!-- End activity item-->
                </th:block>


              </div>

            </div>


          </div>
          <!-- End Recent Activity -->

          <!-- Pie Chart -->
          <div class="card">
            <div class="card-body">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>
              <h5 class="card-title">Visitor Flow in Each Park <span>| Now</span></h5>

              <div id="pieChart"></div>


            </div>
          </div>
          <!-- End Pie Chart -->

        </div>
        <!-- End Right side columns -->

      </div>






    </section>





  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>