<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    
    <!-- Formulário de Login -->
    <form id="loginForm">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="button" onclick="submitLoginForm()">Login</button>
    </form>

    <!-- Script JavaScript para lidar com o envio do formulário -->
    <script>
        function submitLoginForm() {
            // Obter os valores do formulário
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            console.log(email);
            console.log(password);
            // Criar objeto para enviar ao servidor
            var loginDto = {
                email: email,
                password: password
            };
            
            console.log(loginDto);
            console.log(JSON.stringify(loginDto));
            // Fazer uma requisição ao servidor (pode usar AJAX ou Fetch API)
            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(loginDto)
            })
            .then(response => {
                if (response.status == 200) {
                    // Login efetuado com sucesso
                    // Redirecionar para a página principal
                    window.location.href = "/login";
                } else {
                    // Login falhou
                    // Exibir mensagem de erro
                    alert("Login failed");
                }
            });
        }
    </script>
</body>
</html>

