<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header Fragment</title>
</head>
<body>
  <script>
    alert('Script Executado');
    console.log('URL:', /*[[${#httpServletRequest.requestURI}]]*/ '');
  </script>

  <div th:fragment="sidebar">

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

        <!-- Home Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed park-link" th:href="@{/}">
            <i class="bi bi-grid"></i>
            <span>Home</span>
          </a>
        </li>
        <!-- End Home Nav -->

        <li class="nav-heading">Parks</li>

        <!-- Magic Kingdom Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Magic Kingdom'})}">
            <i class="bi bi-signpost"></i>
            <span th:href="@{/park/{parkName}(parkName=${'Magic Kingdom'})}">Magic Kingdom</span>
          </a>
        </li>
        <!-- End Magic Kingdom Nav -->

        <!-- Epcot Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Epcot'})}">
            <i class="bi bi-signpost"></i>
            <span>Epcot</span>
          </a>
        </li>
        <!-- End Epcot Nav -->

        <!-- Hollywood Studios Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Hollywood Studios'})}">
            <i class="bi bi-signpost"></i>
            <span>Hollywood Studios</span>
          </a>
        </li>
        <!-- End Hollywood Studios Nav -->

        <!-- Animal Kingdom Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Animal Kingdom'})}">
            <i class="bi bi-signpost"></i>
            <span>Animal Kingdom</span>
          </a>
        </li>
        <!-- End Animal Kingdom Nav -->

        <!-- Disney Springs Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Disney Springs'})}">
            <i class="bi bi-signpost"></i>
            <span>Disney Springs</span>
          </a>
        </li>
        <!-- End Disney Springs Nav -->

        <!-- Typhoon Lagoon Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Typhoon Lagoon'})}">
            <i class="bi bi-droplet"></i>
            <span>Typhoon Lagoon</span>
          </a>
        </li>
        <!-- End Typhoon Lagoon Nav -->

        <!-- Blizzard Beach Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'TECHNICIAN'}">
          <a class="nav-link collapsed park-link" th:href="@{/park/{parkName}(parkName=${'Blizzard Beach'})}">
            <i class="bi bi-droplet"></i>
            <span>Blizzard Beach</span>
          </a>
        </li>
        <!-- End Blizzard Beach Nav -->

        <!-- Parking Lot 1 Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'PARKING'}">
          <a class="nav-link collapsed park-link" th:href="@{/ParkCars/{parkCarsName}(parkCarsName=${'ParkingLot1'})}">
            <i class="bi bi-car-front"></i>
            <span>Parking Lot 1</span>
          </a>
        </li>
        <!-- End Parking Lot 1 Nav -->

        <!-- Parking Lot 2 Nav -->
        <li class="nav-item" th:if="${role eq 'ADMIN' or role eq 'PARKING'}">
          <a class="nav-link collapsed park-link" th:href="@{/ParkCars/{parkCarsName}(parkCarsName=${'ParkingLot2'})}">
            <i class="bi bi-car-front"></i>
            <span>Parking Lot 2</span>
          </a>
        </li>
        <!-- End Parking Lot 2 Nav -->

      </ul>

    </aside>
    <!-- End Sidebar-->

    <script>

      var currentUrl = window.location.href;
      var parkLinks = document.querySelectorAll(".park-link");

      parkLinks.forEach(function (link) {

        var linkText = link.querySelector("span").textContent;

        if (linkText.includes("Parking Lot")) {
          linkText = linkText.replace(/\s+/g, '');
        }

        if (!currentUrl.includes("/park/") && !currentUrl.includes("/ParkCars/") && linkText === "Home") {
          // Home
          link.classList.remove("collapsed");
        } else if (currentUrl.includes("/park/") && currentUrl.includes(linkText.replace(/\s/g, '%20'))) {
          // Attraction
          link.classList.remove("collapsed");
        } else if (currentUrl.includes("/ParkCars/") && currentUrl.includes(linkText.replace(/\s/g, '%20'))) {
          // Parking
          link.classList.remove("collapsed");
        }
      });

    </script>

  </div>
</body>
</html>