<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Página</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>

    <script src="/js/magicKingdomJs.js"></script>
</head>
<body>
<h1>Info magickingdom</h1>

<h1>Mensagem completa: <span id="jsonRecebido"></span></h1>

<h1>RailRoad velocity: <span id="railRoadVel"></span></h1>

</body>
</html>
